{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<title> Alterar clientes </title>
<!-- Cabeçalho da página de alteração de cliente -->
<header>
    <h1>Alterar cliente</h1>
    <!-- Navegação para a página inicial e lista de clientes -->
    <nav class="nav-container">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'listar_clientes' %}">Voltar para lista de clientes</a>
    </nav>
</header>
<body>
    <!-- Container principal para o formulário de alteração de cliente -->
    <div class="cadastro-cliente-container">
        <form method="post" class="formCadastroCliente">
             <!-- Token CSRF para segurança em envios de formulário -->
            {% csrf_token %}
            <h1>Alterar cliente</h1>
            <!-- Exibe o formulário de alteração do cliente com seus campos -->
            {{ form.as_p }}
            <button type="submit" class="btn btn-success col-12" style="padding-top: 5px;">Salvar alterações</button>
        </form>
    </div>

    <!-- <a href="{% url 'listar_clientes' %}">Voltar para a lista de clientes</a> -->
     <!-- Div para mensagens de popup -->
    <div id="popup" class="popup"></div>
    <!-- Inclusão de um template para exibir mensagens -->
    {% include 'partials/_message.html' %}
</body>
{% endblock %}

